<h1>Routines</h1>
<% @routines.each do |routine| %>
<% if current_user.id == routine.user_id %>
<div class="rows">
  <div class="large-3 medium-4 small-6 columns">
    <ul class="pricing-table">
      <li class="title"><%= routine.title %></li>
      <li class="description"><%= routine.description %></li>
      <!-- <ul class="disc inline-list">
        <li><strong>Sets:</strong><%= routine.set %></li>
        <li><strong>Reps:</strong><%= routine.reps %></li>
        <li><strong>Weight:</strong><%= routine.weight %></li>
      </ul> -->
      <ul class="inline-list">
        <li><%= link_to 'Show', routine %></li>
        <li><%= link_to 'Edit', edit_routine_path(routine) %></li>
        <li><%= link_to 'Destroy', routine, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
    </ul>
  </div>
</div>
<% end %>
<% end %>