<h1>Routines</h1>

<% @routines.each do |routine| %>
  <% if current_user.id == routine.user_id %>
    
    <div class="row">
    
      <div class="large-3 columns medium-3 small-3">
        <%= image_tag "XESizelogo" %>
      </div>

      <div class="large-3 columns medium-3 small-3">
        <h4><strong><%= routine.title %></strong></h4>
      </div>

      <div class="large-3 columns medium-3 small-3">
        <p><strong>Description:</strong></br><%= routine.description %></p>
      </div>

      <div class="large-3 columns medium-3 small-3">
        <ul class="inline-list">
          <li><a href=""><%= link_to 'Show', routine %></a></li>
          <li><a href=""><%= link_to 'Edit', edit_routine_path(routine) %></a></li>
          <li><a href=""><%= link_to 'Destroy', routine, method: :delete, data: { confirm: 'Are you     sure?' } %></a></li>
        </ul>
      </div>

    </div>
  <hr/>
  <% end %>
<% end %>

