<p>
  <strong>Title:</strong>
  <%= @routine.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @routine.description %>
</p>

<ul>
<% @routine.exercises.each do |exercise| %>
<li>
  <ul>
    <li><%= exercise.name %></li>
    <li><%= image_tag exercise.image %></li>
    <li><%= exercise.description %></li>
  </ul>
</li>
<% end %>
</ul>
<p>
  <strong>Set:</strong>
  <%= @routine.set %>
</p>

<p>
  <strong>Reps:</strong>
  <%= @routine.reps %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @routine.weight %>
</p>

<%= link_to 'Edit', edit_routine_path(@routine) %> |
<%= link_to 'Back', routines_path %>
