<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @routine.title %>
</p>

<p>
  <strong>Title:</strong>
  <%= @routine.title %>
</p>


<p>
  <strong>User:</strong>
  <%= @routine.user_id %>
</p>


<p>
  <strong>Description:</strong>
  <%= @routine.description %>
</p>


<p>
  <strong>Date created:</strong>
  <%= @routine.date_created %>
</p>


<p>
  <strong>Set:</strong>
  <%= @routine.set %>
</p>

<p>
  <strong>Reps:</strong>
  <%= @routine.reps %>
</p>

<p>
  <strong>Float:</strong>
  <%= @routine.float %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @routine.weight %>
</p>

<p>
  <strong>Float:</strong>
  <%= @routine.float %>
</p>

<%= link_to 'Edit', edit_routine_path(@routine) %> |
<%= link_to 'Back', routines_path %>
