<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><img src="http://placehold.it/100x40&text=Logo" /></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <% if current_user %>
      <li><%= image_tag current_user.image, :size => "50x50" %></li>
      <li><%= current_user.username %></li>
      
      <% else %>
      <li><%= link_to "Login", new_user_session_path %></li>
      <li><%= link_to "Sign Up", new_user_registration_path %></li>
      <% end %>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li><%= link_to "Home", root_path %></li>
    </ul>
  </section>
</nav>