<%= link_to "Back", trainers_path %>

<div class="row">
  <hr/>
  <div class="small-12 medium-6 large-6 columns profile">
    <%= image_tag @user.avatar.large.url %>
  </div>
  <div class="small-12 medium-6 large-6 columns">
    <h1 class="text-center"><%= @user.username %></h1><hr>
    <div class="small-12 medium-12 large-12 panel">
      <h5 class="text-center"><%= @user.first_name %></h5>
      <h5 class="text-center"><%= @user.last_name %></h5>
      <h6 class="subheader text-center"><%= @user.email %></h6>
    </div>
  </div>
<%= render 'currentandpreviousclients' %>

<%= render 'routineforclients' %>
</div>