<div class="row">
  <div class="large-3 columns">
    <a class="th" href="#"><%= image_tag @exercise.exercise_image.url(:detail).to_s %></a>
  </div>
  <div class="large-9 columns">
    <div class="panel radius">
      <div class="row">
        <div class="large-12 columns">
          <h4><strong><%= @exercise.name %></strong></h4><hr/>
          <p><%= @exercise.description %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_exercise_path(@exercise) %> |
<%= link_to 'Back', exercises_path %>
